@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  font-size: 12px;
  user-select: none;
  color: var(--text);
}
:root {
    --darkpurple: #170540;
    --mediumpurple: #765ab6;
    --purple: #a790e2;
    --lightpurple: #e3def1;
    --background: #EBECED;
    --lightbackground: #EBECED90;
    --darkbackground: #ccd3d870;
    --text: #21295C;
    --textlight: #213c5c85;
    --textlightest: #c0c0c9;
    --grey: #c2cad1;
    --greylight: #ccd3d8;
    --blue: #4A0EE0;
}
h1 {
  font-size: 16px;
  font-weight: 700;
}
h2 {
  font-size: 14px;
  font-weight: 700;    
}
h3 {
  font-size: 12px;
  font-weight: 700;
}
h4 {
  font-size: 10px;
  font-weight: 700;
}
.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}
#overlayBlock {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 5000;
}
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header {
  height: 60px;
  min-height: 60px;
  background-color: var(--darkpurple);
  display: flex;
  align-items: center;
  padding: 0px 10px 0px 10px;
  z-index: 800;
  overflow: visible;
  justify-content: flex-start;
}
#header-title {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#header-title img {
  width: 22px;
  margin-right: 8px;
}
#suggestions-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-height: 295px;
  overflow-y:scroll;
  width: 550px;
}
.suggestion {
  width: 100%;
  border-bottom: 1px solid #ffffff20;
  color: white;
  background-color: transparent;
}
.suggestion p {
  margin: 0;
  padding-right: 10px;
  padding-left: 40px;
}
#searchConcept {
  width: 500px;
  font-family: "Inter", sans-serif;
  background-color: #342458;
  color: white;
}
#search-container {
  position: relative;
}
#input-container {
  position: absolute;
  top: -20px;
  right: calc(100vw - 610px);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#search-root {
  position: absolute;
  margin-top: 5px;
  left: 36px;
  background-color: var(--mediumpurple);
  height: 28px;
  border-radius: 20px;
  width: auto;
  max-width: 480px;
  white-space: nowrap;  
  font-weight: 700;
  color: white;
  align-items: center;
  padding-left: 14px;
  padding-right: 14px;
  overflow: scroll;
}
#searchBtn {
  position: absolute;
  left: 15px;
  color: white;
  opacity: 0.5;
  transition: 0.5s opacity;
  margin-top: 12px;
  cursor: pointer;
}
#searchBtn:hover {
  opacity: 1;
}
#search-info {
  position: absolute;
  left: 595px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  color: white;
  font-weight: 700;
}
.search-info-line {
  width: 1px;
  height: 30px;
  background-color: #ffffff60;
  margin-left: 1em;
  margin-right: 1em;
}
textarea:focus {
  outline: none; 
}
#content {
  display: flex;
  width: 100vw;
  min-height: 0;
  flex-grow: 1;
}
#visualization-container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
}
#graph-section {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-content: flex-end;
  width: 60vw;
  height: 98%;
  padding: 15px;
}
#graph-group {
  width: 100%; 
  height: 80%;
  flex-grow: 1;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 16px;
}
#graph-subheader {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  flex-grow: 1;
}
#graph-labels {
  overflow-y: scroll;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-right: 5px;
  /* max-height: calc(100vh-60)*; */
}
#graph-container {
  /* height: 80%; */
  /* flex-grow: 1; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#graph {
  overflow: visible;
}
.axis path {
  transition: 0.5s all;
  stroke-width: 0.5px;
  stroke: #C7C7C7;
  opacity: 0.8;
}
.axis line {
  transition: 0.5s all;
  stroke-width: 0.5px;
  stroke: #C7C7C7;  
  opacity: 0.8; 
}
.axis text {
  transition: 0.5s all;
  font-size: 12px; 
}
.axis-grid line {
  transition: 0.5s all;
  stroke-width: 0.75px;
  stroke: #C7C7C7;
  opacity: 0.8;
}
.axis-grid path {
  transition: 0.5s all;
  stroke-width: 0.75px;
  stroke: #C7C7C7;
  opacity: 0.8;
}
.x-grid line {
  transition: 0.5s all;
  stroke-width: 0.5px;
  opacity: 0.5;
  stroke: #E1E1E1;
}
.x-grid path {
  transition: 0.5s all;
  stroke-width: 0.5px;
  opacity: 0.5;
  stroke: #E1E1E1;
}
.axis-base line {
  transition: 0.5s all;
  opacity: 0;
}
.axis-base path {
  transition: 0.5s all;
  stroke-width: 0.75px;
  stroke: #B8B8B8;
}
.line-path {
  transition: 0.5s all;
}
.labels {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  margin-bottom: 1px;
}
.label-text {
  font-size: 12px;
  margin-right: 4px;
  flex: 1;
}
.label-vocab {
  margin-right: 5px;
}
.label-code {
  margin-right: 4px;  
}
.label-circle {
  width: 10px;
  height: 10px;
  margin-right: 3px;
  margin-top: 0px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: 0.5s opacity;
}
#sidebar {
  flex-grow: 1;
  width: 40vw;
  background-color: var(--background);
  border-right: 1.5px solid var(--darkbackground);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
  padding: 15px;
  padding-top: 5px;
}
#sidebar-closed {
  padding: 5px;
  display: none;
  justify-content: flex-end;
}
#drag-bar {
  width: 5px;
  background-color: 'none';
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  z-index: 2000;
}
#sidebar-heading {
  display: flex;
  flex-direction: column;
}
.expand-compress {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 12px;
  color: var(--text);
  opacity: 0.5;
}
.expand-compress:hover {
  opacity: 1;
}
#view-selections {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 28px;
  display: flex;
  align-items: flex-end;
  justify-content: center;  
  z-index: 100;
  margin: 0px;
  padding: 0px;
  /* border-bottom: 1px solid var(--darkbackground); */
  background-color: var(--darkbackground);
}
.view-btn {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.view-title {
  padding-bottom: 4px;
  cursor: pointer;
  pointer-events: all;
}
.view-title:hover {
  font-weight: 700 !important;
  color: var(--text) !important;
}
.selection-bar {
  width: 90%;
  border-radius: 20px;
  height: 5px;
  background-color: var(--text);
  /* margin-left: 10px;  */
  transition: 0.2s opacity; 
  opacity: 0;
}
.dropBtn {
  cursor: pointer;
  opacity: 0.5;
  color: var(--text);
}
.dropBtn:hover {
  opacity: 1;
}
.dropdown-content {
  visibility: hidden;
  position: absolute;
  overflow-y: scroll;
  top: 25px;
  z-index: 800;
}
#sidebar-content {
  position: relative;
  margin-top: 5px;
  padding: 15px;
  padding-top:10px;
  flex-grow: 1;
  min-height: 0;
  border-radius: 16px;
  background-color: white;
}
#tree-container {
  width: 100%;
  height: 100%;
}
#tree {
  overflow: invisible;
}
#focus {
  opacity: 0;
  transition: 0.5s opacity;
  pointer-events: none;  
}
#data-tooltip {
  position: absolute;
  color: white;
  border-radius: 20px;
  padding: 7px 12px 7px 12px;
  opacity: 0;
  transition: 0.5s opacity;
  pointer-events: none;
  z-index: 500;
}
.box-shadow {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}
#tooltip {
  position: absolute;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 10px;
  padding-top: 5px;
  opacity: 0;
  pointer-events: none;
  width: auto;
  height: auto;
  transition: 0.5s opacity;
  z-index: 4000;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: text !important;
}
#tooltip-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#tooltip-btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#graph-icon-black {
  opacity: 0.5;
}
#root-btn-circle {
  border: 1px solid transparent;
}
.tooltip-btn {
  width: 18px;
  height: 18px;
  background-color: transparent;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
.tooltip-icon {
  transition: 0.5s opacity;
  margin: 0;
  padding-right: 0.56px;
  padding-bottom: 1.75px;
}
#tooltip-title {
  font-weight: 700;
  font-size: 12px;
  margin: 0;
  padding-bottom: 5px;
}
#tooltip-content {
  width: 100%;
  display: flex;
}
.tooltip-content-col {
  margin-right: 10px;
}
.tooltip-content-row {
  font-size: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
  margin: 0;
  margin-bottom: 2px;
  min-width: 114px;
}
.tooltip-content-row span {
  margin-left: 10px;
  font-weight: 400;
}
.concept-counts {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 20px;
  font-weight: 700;
}
.concept-type {
  border-style: solid;
  border-width: 1px;
  border-color: var(--text);
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 20px;
  color: white;
}
#zoomUI {
  color: var(--background);
  opacity: 0.2;
}
.toggle-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.toggle {
  padding-bottom: 3px;
  padding-top: 3px;
  padding-right: 2px;
  padding-left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex: 1 1 0px;
  font-size: 9px;
  user-select: none; 
}
.toggle:hover {
  font-weight: 700 !important;
}
#graph-selections {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border: none;
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 100%;
}
.graph-selection {
  display: flex;
  align-items: flex-end;
}
#gender-viz {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 120px;
}
#age-viz {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 60px;
  width: 360px;
  background-color: none;
}
.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.map-node {
  z-index: 0;
}
#list-container {
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
}
.list-section {
  display: flex;
  flex-direction: column;
  padding-top: 2px;
}
.section-title {
  display: flex;
  align-items: center;
}
.list-item, .map-list-item {
  padding: 5px 10px 5px 10px;
  display: flex;
  flex-direction: column;
}
.map-list-item-container {
  margin-bottom: 5px;
}
.title-section, .map-title-section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  margin-top: 1px;
  margin-bottom: 1px;
}
.title-section p {
  margin: 0px;
}
.map-title-section p {
  margin: 0px;
}
.title-level {
  white-space: nowrap;
}
.item-title, .map-item-title {
  max-width: calc(100% - 120px);
  display: flex;
  align-items: center;
}
.list-counts-container, .map-list-counts-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 20px;
  margin-right: 5px;
}
.list-counts, .map-list-counts {
  display: flex;
  align-items: center;
  height: 12px;
  font-size: 10px;
}
.info-container, .map-info-container {
  position: relative;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 21px;
  height: 0px;
  width: calc(100% - 180px);
  display: none;
}
.mappings-container {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 0px;
  display: none;  
  flex-direction: column;
  --after-border: 1px dashed var(--textlight); 
  border-left: var(--after-border);
  padding-left: 10px;
  position: relative;
}
.mappings-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 10px; 
  height: 1px; 
  border-bottom: var(--after-border);
}
.info-col, .map-info-col {
  display: flex;
  flex-direction: column;
  height: 50px;
  opacity: 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.info-col p {
  margin: 0;
  font-size: 10px;
  margin-top: 4px;
}
.map-info-col p {
  margin: 0;
  font-size: 10px;
  margin-top: 4px;
}
.title-circle, .map-title-circle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-plus, .fa-x {
  margin-top: 1px;
}
#concept-selections {
  margin-top: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 220px;
  padding-bottom: 3px;
}
#selection-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  z-index: 3000;
}
.concept-selection-btn {
  width: 50%;
  height: 10px;
  border-radius: 20px;
  border: 1px solid var(--textlightest);
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 5px;
  margin-top: 3px;
  margin-left: 0px;
  margin-right: 2px;
  justify-content: space-around;
  font-size: 12px;
  cursor: pointer;
}
.reset-dropdown {
  position: relative;
  /* left: 6px; */
  color: var(--text);
  margin-right: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}
.dropdown-container {
  position: relative;
  display: inline-block;
  top: -1px;
}
.dropdown-header {
  position: relative;
  display: flex;
  margin-top: 9px;
  padding: 0px 6px 0px 6px;
  align-items: flex-start;
  justify-content: space-between;
  /* background-color: var(--background); */
  width: auto;
  height: 20px;
  border: 0.5px solid var(--textlightest);
  /* color: var(--text); */
  border-radius: 16px;
  z-index: 500;
  max-width: 100%;
  overflow-x: scroll;
}
.dropdown-header p {
  background-color: transparent;
  /* color: var(--text); */
  z-index: 500;
}
.selections-dropdown-content {
  position: absolute;
  background-color: white;
  visibility: hidden;
  white-space: nowrap;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  top: 40px;
  padding: 10px 18px 10px 18px;
  z-index: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.selections-dropdown-content p {
  margin: 0;
  padding-top: 3px;
  padding-bottom: 3px;
}
#levels-dropdown {
  visibility: hidden;
}
#tree-selections-container {
  display: flex;
  width: 100%;
  align-items: center;
}
#filter-container {
  /* flex-grow: 1; */
  /* width: 100%; */
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  margin-left: 5px;
}
.class {
  display: flex;
  align-items: center;
}
.check-box {
  margin-right: 8px;
  margin-top: -1px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid var(--textlightest);
  width: 12px;
  height: 12px;
}
.reset-filter {
  position: absolute;
  right: -6px;
  color: var(--text);
  cursor: pointer;
  bottom: -8px;
}
#class-selections {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight:700;
  padding-right: 2px;
  overflow-x: scroll;
  white-space: nowrap;
}
#class-selections p {
  padding: 1px 3px 1px 3px;
  margin: 0;
  margin-top: 2px;
}
#gender-svg {
  overflow: visible;
}
#y-label {
  position: absolute;
  left: -24px;
  transform: rotate(-90deg);
  bottom: 74px;
  font-weight: 700;
}
#reset-zoom {
  display: none;
  position: absolute;
  text-align: end;
  right: 20px;
  top: -20px;
  padding: 3px 6px 3px 6px;
  border: 1px solid var(--textlightest);
  background-color: transparent;
  color: var(--text);
  font-weight: 400;
  cursor: pointer;
}
#reset-zoom:hover {
  background-color: var(--text);
  color: white;
  font-weight: 700;
}
.lds-grid {
  /* change color here */
  color: var(--darkpurple);
}
.lds-grid,
.lds-grid div {
  box-sizing: border-box;
}
.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: currentColor;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
#header-btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 10px;
  color: white;
}
#feedback-btn {
  width: 110px;
  border-radius: 20px;
  border: 1px solid #ffffff60;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 400;  
  margin-right: 1em;
}
#feedback-btn:hover {
  background-color: white;
  color: var(--darkpurple);
  font-weight: 700;
}
#api-info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border: 0.5px solid #ffffff60;
  border-radius: 18px;
  width: 18px;
  height: 18px;
  font-size: 10px;
  cursor: pointer;
}
#api-popup {
  width: auto;
  height: auto;
  background-color: white;
  display: none;
  position: absolute;
  right:10px;
  top: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
#api-popup p {
  margin: 0;
}
.api-popup-title {
  font-weight: 700;
  margin-right: 5px;
}
#overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
#popup {
  position: absolute;
  background: white;
  border-radius: 10px;
  padding: 20px;
  min-width: 200px;
  min-height: 200px;
  width: 25%;
  height: 18vw;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#feedback {
  width: 80%;
  height: 50%;
  margin-top: 10px;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  resize: none;
  font-family: "Inter", sans-serif;
}
#send-feedback {
  width: 110px;
  border-radius: 20px;
  border: 1px solid var(--textlight);
  color: var(--text);
  height: 30px;
  cursor:pointer;
  font-weight: 400;
  margin: 5px;
}
#send-feedback:hover {
  font-weight: 700;
  color: white;
  background-color: var(--text);
}
#close-feedback {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
#status {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

